*{
    margin: 0;
    padding: 0%;
    font-family: 'Pacifico', cursive;
    

}

body{
    background-color: #747d90;

}
.container{
    width: 92%;
    margin: auto;
}

.nav-bar{

    background-color: #747d90ce;
    border-bottom: black solid 2px;
    float: left;
    height: 3.5rem;
    width: 100%;
    text-align: none;
    list-style: none;
    position: fixed;

    
}

.signIn{
    background-color: chartreuse;


}

.signIn li{
    list-style: none;
    display: inline-block;
    float: right;
    width: 10%;
    height: 26px;
    margin-right: 4%;
    margin-left:.5%;


    

}

.signIn li a:hover{
    background-color: brown;
    color: wheat;
    transition: .5s;
}


.signIn li a{
    width: 141.7%;
    height: 2.37em;
    text-decoration: none;
    display: inline-block;
    color: black;
    border-left: black dotted 5px;
    text-align: center;
    font-size: x-large;
    
}

.daddyWaddy li{
    float: left;
    list-style: none;
    height: 50px;
    display: block;
}

.daddyWaddy li a{
    text-decoration: none;
    color: black;
    font-size: 150%;
}

.main_title{
    width: 300px;
    margin-left: .5%;


}
.pic{
    width: 50px;
    margin-left: 4.5%;
    background-image: url("./images/logo_clear.png"), url("./images/new_food.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: contain, cover;
    border-radius: 50%;

}
.main-menu{

    background-color: rgb(121, 39, 1);
    border: rgb(87, 27, 0) solid 10px;
    width: 25%;
    height: 141rem;
    float: left;
    
}


.logo{
    background-image: url("./images/logo_clear.png"), url("./images/new_food.jpg");
    background-size: contain, cover;
    background-repeat: no-repeat, no-repeat;
    border-radius: 50%;
    margin: 10%;
    margin-left: 13%;
    width: 75%;
    height: 270px;
    float: left;

}

.title{

    color: rgb(255, 251, 0);
    font-size: 150%;
    display: inline-block;
    width: 95%;
   
}

.title h1{
    text-align: center;
    font-weight: bold;
    border-bottom: double  rgb(87, 27, 0)  15px;
    border-top: double  rgb(87, 27, 0)  15px;
    margin-left: 10%;
  
}

.selections{

    width: 100%;
    float: left;
}

.selections ul{
    list-style: none;
    margin-top: 10%;
    
}

.selections ul li{
    text-align: center;
    width: 100%;
    height: 100px;
}

.home_icon{
    float: left;
    width: 3%;
    height: 5rem;
}

.menu_icon{

    float: left;
    width: 3%;
    height: 5rem;
}

.cart_icon{

    float: left;
    width: 3%;
    height: 5rem;
}

.logout_icon{
    float: left;
    width: 3%;
    height: 5rem;

}

.selections ul li a{
    display: block;
    font-size: 250%;
    text-decoration: none;
    padding-top: 22px;
    padding-bottom: 23px;
    background-color: rgb(121, 39, 1);
    text-align: center;
    color: rgb(255, 251, 0);
    border-top: rgb(87, 27, 0) solid 5px;
    border-bottom: rgb(87, 27, 0) solid 5px;

    margin-left: 2%;
    margin-right: 2%;
    margin-top: 20px;
    margin-bottom: 20px;
       
}

.home_li a{
    background-image: url("./images/black_house.png"), url("./images/seasoning.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 25%, cover;
    background-position: left, center;
    background-blend-mode: normal, exclusion;
    
}




.home_li a:hover{
    color: rgb(0, 0, 0);

    background-image: url("./images/white_house.png"), url("./images/seasoning.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 25%, cover;
    background-position: left, center;
    background-blend-mode: normal, normal;
    transition-duration:1s ;

}

.order a{
    background-image: url("./images/menu2.png"), url("./images/note2.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 25%, cover;
    background-position: left center, center;
    background-position-x: 3%;
    background-blend-mode: normal, exclusion;



}

.order a:hover{

    color: rgb(255, 255, 255);
    transition-duration: 1s;

    background-image: url("./images/menu2_white.png"), url("./images/note2.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 25%, cover;
    background-position: left, center;
    background-position-x: 3%;
    background-blend-mode: normal, normal;



}

.cart_li a{

    background-image: url("./images/shopping-cart.png"), url("./images/cart1.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 25%, cover;
    background-position: left center, center;
    background-position-x: 3%;
    background-blend-mode: normal, exclusion;

}

.cart_li a:hover{

    color: rgb(255, 255, 255);
    transition-duration: 1s;

    background-image: url("./images/shopping-cart-white.png"), url("./images/cart1.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 25%, cover;
    background-position: left, center;
    background-position-x: 3%;
    background-blend-mode: normal, normal;

}

.selections ul li a:hover{

    color: white;
    background-color: #cc2c11;
    transition-duration: 1s;
    
}

.logout a{

    background-image: url("./images/logout.png"), url("./images/note1.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 25%, cover;
    background-position: left center, center;
    background-position-x: 3%;
    background-blend-mode: normal, exclusion;



}



.slider {
    background-image: url("./images/main_image.jpg");
    background-color: antiquewhite;
    box-shadow: inset bottom 30px 30px 30px 50px rgb(5, 5, 5);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10% 10% 10% 10%;
    
    width: 96%;
    height: 700px;
    margin-left: 2%;
    margin-top: 10px;
    float: left;
    
}

.slider h1{
    text-align: center;
    font-weight: bold;
    margin-top: 20%;
    color: rgb(255, 251, 0);
    font-size: 500%;
    font-style: italic;
    text-decoration: underline;


}


.slider:hover{
    opacity: 1;
    box-shadow: inset 0px 0px 0px 0px rgb(5, 5, 5);


}
.menu_title{

    float: left;
    width: 90%;
    height: 6em;
    margin-left: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    background-image: url("./images/pepper.jpg");
    background-position: center;
    border-radius: 15%;
   

}

.menu_title h2{
    width: 50%;
    display: block;
    text-align: center;
    color: white;
    background-color: black;
    background-image: url("./images/flames.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1.15em;
    border-left: rgb(87, 27, 0) double 20px;
    border-right: rgb(87, 27, 0) double 20px;
    margin-left: 7.5em;

}

.items{
    width: 72%;
    height: 142.3rem;
    background-color: rgb(17, 15, 15);
    float: left;

}
.order-item{
    margin-left: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
    height: 20em;
    background-color: rgb(121, 39, 1);
    float: left;

    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10%;
    opacity: 1;
}

.burger{
    width: 100%;
    height: inherit;
    float: inherit;
    background-image: url("./images/burger.jpg");
    background-size: inherit;
    background-repeat: inherit;
    border-radius: inherit;
    opacity: 1;

}

.burger:hover{
    opacity: .7;
    transition-duration: 1s;
}

.pizza{

    width: 100%;
    height: inherit;
    float: left;
    background-image: url("./images/pizza.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: inherit;
    opacity: 1;
}

.pizza:hover{

    opacity: .7;
    transition-duration: 1s;
}


.dessert{

    width: 100%;
    height: inherit;
    float: left;
    background-image: url("./images/dessert.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: inherit;
    opacity: 1;


}

.dessert:hover{

    opacity: .7;
    transition-duration: 1s;

}

.steak{

    width: 100%;
    height: inherit;
    float: left;
    background-image: url("./images/steak.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: inherit;
    opacity: 1;

}

.steak:hover{

    opacity: .7;
    transition-duration: 1s;

}

.pasta{

    width: 100%;
    height: inherit;
    float: left;
    background-image: url("./images/pasta.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: inherit;
    opacity: 1;

}

.pasta:hover{

    opacity: .7;
    transition-duration: 1s;


}

.drinks{

    width: 100%;
    height: inherit;
    float: left;
    background-image: url("./images/soda.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: inherit;
    opacity: 1;


}

.drinks:hover{

    opacity: .7;
    transition-duration: 1s;

}